<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}GitHub Trending{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="./static/css/index.css" />
        <link rel="icon" type="image/svg+xml" href="./static/img/github.svg" />
        {% block extra_head %}{% endblock %}
    </head>
    <body class="bg-gray-200 min-h-screen">
        <!-- <nav class="bg-white shadow-lg">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between h-16">
                    <div class="flex items-center">
                        <a href="/" class="text-xl font-bold text-gray-800"
                            >GitHub Trending</a
                        >
                    </div>
                </div>
            </div>
        </nav> -->

        <main>{% block content %}{% endblock %}</main>

        {#
        <footer class="bg-white shadow-lg mt-8">
            <div class="max-w-7xl mx-auto py-4 px-4 text-center text-gray-600">
                <p>© 2024 GitHub Trending. All rights reserved.</p>
            </div>
        </footer>
        #}
        <script
            type="text/javascript"
            src="./static/js/vanilla-tilt.min.js"
        ></script>
    </body>
</html>
